:root {
    --primary-color: #040C0D;
    --primary-color-darker: #404040;
    
}

* {
    box-sizing: border-box;
    outline: 0;
   
}
body {
    font-family: 'Ubuntu', sans-serif;;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-size: 19px;
    line-height: 1.5;
    
    
}
.contenier {
    max-width: 640px;
    margin: 50px auto;
    background: #C0C0C0;
    padding: 20px;
    border-radius: 10px;
    

}
h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bold;
}
input {
    margin: 15px;
    padding: 10px;
}
input:hover {
    background-color: rgba(255, 255, 255, 0);
}
button {
    width: 80px;
    padding: 15px;
    align-self: flex-end;
    margin: 15px;
    color: #404040;
    font-weight: 900;
}
button:hover {
    background-color: #404040;
    color: #040C0D;
}


.error-text {
    font-size:  12px;
    color: red;
    text-align: end;
}


/* Ajax style*/

.ajax-content {
    background-color: rgba(172, 255, 47, 0.361);
    color: red;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
}